html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-color: darkslategray;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

#background-image {
  width: auto;
  height: 100%;
  top: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

@media screen and (max-width: 720px) {
  #background-image {
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
  }
}

#logo {
  width: 200px;
  margin-bottom: 10px;
}

#main {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input, #input-box {
  position: relative;
}

#input svg {
  cursor: pointer;
}

#search-input {
  box-sizing: border-box;
  width: 320px;
  /* height: 2.5em; */
  padding: 1em 4em 1em 1.25em;
  border-radius: 1.25em;
  border: none;
  color: white;
  background-color: transparent;
  backdrop-filter: blur(5px);
  outline: rgba(200, 200, 200, 0.5) solid 2px;
}

#icon-search {
  position: absolute;
  right: 13px;
  top: 50%;
  width: 24px;
  height: 24px;
  color: white;
  transform: translateY(-50%);
}

#suggest-box {
  top: 100%;
  left: 50%;
  width: 85%;
  border-radius: 0 0 10px 10px;
  position: absolute;
  transform: translateX(-50%);
  background-color: transparent;
  backdrop-filter: blur(15px);
  display: none;
}

#search-suggest {
  list-style: none;
  list-style-type: none;
  margin: 8px 10px;
  padding: 0;
  max-height: 160px;
  overflow-x: hidden;
  overflow-y: auto;
}

#search-suggest > li {
  margin: 2px 4px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}

#search-suggest > i {
  background-color: transparent;
  font-size: 7pt;
  color: gray;
}

#search-suggest > li:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
